div {
  width: 400px;
  height: 100px;
  border: 2px solid#333;
  margin: 10px auto;
}
#ex1 {
  background: linear-gradient(yellow, red);
}
#ex2 {
  background: linear-gradient(to bottom, yellow, red);
}
#ex3 {
  background: linear-gradient(180deg, yellow, red);
}
#ex4 {
  background: linear-gradient(to bottom, yellow 0%, red 100%);
}
#ex5 {
  background: linear-gradient(to top, red, yellow);
}
